.vault-xpub-info-box {
  padding: 10px;
  border-radius: 4px;
  max-height: 100px;
  overflow: auto;
  word-break: break-all;
}

:root[data-theme='light'] .vault-xpub-info-box {
  background-color: #f5f5f4;
}

:root[data-theme='dark'] .vault-xpub-info-box {
  background-color: #272524;
}
