.swap-area {
  margin: 8px;
}

.swap-box-row {
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 2px;
}

.swap-box-row-title {
  font-size: 16px;
  text-align: left;
}

.swap-box-row-input {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  width: 100%;
}

.swap-box-row-input .ant-input-number-input-wrap input {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.swap-box-row-input-number {
  font-size: 24px;
  text-align: left;
  margin: 0;
  width: 100%;
}

.swap-box-row-input-number input {
  font-size: 24px;
  font-weight: bold;
}

.swap-box-row-crypto-selection {
  position: relative;
}

.swap-box-row-crypto-selection-button-container {
  position: absolute;
  right: 0;
}

.swap-box-row-crypto-selection-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
}

.swap-box-row-chain-info {
  gap: 8px;
  font-size: 16px;
  text-align: right;
  width: 100%;
}

.swap-box-row-chain-info-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  font-size: 12px;
  margin-right: 4px;
}

.swap-box-row-sub-title {
  font-size: 12px;
  text-align: left;
}

.swap-box-row-sub-selection {
  font-size: 12px;
  text-align: right;
  position: absolute;
  right: 0;
  margin-top: -5px;
}

.sub-row {
  padding-bottom: 10px;
  padding-top: 10px;
}

.margin-top-12 {
  margin-top: 12px;
}

.no-border-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.no-border-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rate-value {
  text-align: left;
  width: 100%;
  opacity: 0.5;
  font-size: 12px;
  margin-top: 4px;
}