.onramper-modal {
  background-color: #1f1f1f;
  display: block;
  margin-bottom: -20px;
}

@media (prefers-color-scheme: light) {
  .onramper-modal {
    background-color: #ffffff;
  }
}

.onramper-modal .ant-modal-content,
.onramper-modal .ant-modal-body {
  padding: 0 !important;
}

.onramper-modal .ant-modal-content {
  border-radius: 12px;
  overflow: hidden;
}

.onramper-modal .ant-modal-header {
  display: none;
}

.onramper-modal .ant-modal-close {
  transition: top 0.2s ease 0.15s, right 0.2s ease 0.15s;
}

.onramper-iframe-active .ant-modal-close {
  top: 0px;
  right: 0px;
  transition: top 0.2s ease, right 0.2s ease;
}

.onramper-container,
.onramper-loading,
.onramper-consent {
  height: min(650px, 100dvh);
}

.onramper-iframe {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}

.onramper-loading,
.onramper-consent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
}

.onramper-consent-buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.onramper-consent-button {
  white-space: normal;
  height: auto;
  max-width: 284px;
  display: 'block';
  padding: 5px 12px;
}
