.not-selectable {
  filter: opacity(0.7) grayscale(0.7);
}

.token-box-import {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.token-box-import-container {
  min-width: 170px;
  width: calc(50% - 8px);
  position: relative;
}

@media (max-width: 419px) {
  .token-box-import-container {
    width: 100%;
  }
}