.table-icon {
  width: 32px;
  text-align: center;
}

.table-time {
  text-align: center;
}

.table-amount {
  line-break: initial;
  word-break: none;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 400px) {
  .table-time {
    font-size: 12px;
  }

  .table-amount {
    font-size: 12px;
  }
}
