.table-icon {
  width: 5px;
}

.table-time {
  width: fit-content;
}

.table-amount {
  line-break: initial;
  word-break: none;
  white-space: nowrap;
}
.pl-0 {
  padding-left: 0 !important;
}

.make-center {
  padding-left: 9px !important;
  padding-right: 9px !important;
}