.linearGradientButton {
  background: linear-gradient(135deg, rgba(0, 255, 255, 0.15), rgba(255,0,0, 0.15)) !important;
}

.linearGradientButton:hover {
  color: cyan !important;
  border-color: cyan !important;
}