.navbar {
  margin: auto;
  line-height: 30px;
  width: calc(420px - 2rem);
  height: 25px;
}

.ant-menu-submenu-title {
  height: 30px !important;
  line-height: 30px !important;
  width: 35px !important;
}

.navbar-wallet-select .ant-select-content {
  justify-content: center;
}

.navbar-wallet-select .ant-select-selection-item {
  padding-left: 16px !important; /* Add left space to balance the dropdown arrow on right */
  overflow: hidden !important;
  white-space: nowrap !important;
}