.flux-node-start-info-box {
  padding: 10px;
  border-radius: 4px;
  word-break: break-all;
}

:root[data-theme='light'] .flux-node-start-info-box {
  background-color: #f5f5f4;
}

:root[data-theme='dark'] .flux-node-start-info-box {
  background-color: #272524;
}
