.node-name {
  width: 105px;
  word-break: break-all;
  padding: 16px 10px !important;
}

.node-ip {
  width: 135px;
  word-break: break-all;
  padding: 16px 10px !important;
}

.node-tier {
  width: 60px;
  padding: 16px 10px !important;
}

.node-status {
  width: 60px;
  padding: 16px 10px !important;
}
