:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 1.1;
  font-weight: 500;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  /* maximum size is 800px */
  width: 420px;
  /* maximum size is 600 */
  height: 600px;
}

#root {
  margin: auto;
  padding: 1rem;
  height: calc(100% - 2rem);
}

.adjustedWidth {
  width: calc(420px - 2rem);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.ant-divider-horizontal {
  margin: 1rem 0;
}